.h1 {
    color: green;
}

.treasure {
    background-color: antiquewhite;
}
.mtop{
    padding:10px;
}

.bg{
    background: white;
}





.email{

    color: #2e6da4;
}
.detail{


    background-color:#c4e3f3;
    padding: 5px;
    text-align: center;

}