{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <img src="{{ treasure.img_url }}" height="100" width="150">
    <p> {{ treasure.name }}</p>
    <p>{{ treasure.location }}</p>
    <p>{{ treasure.value }}</p>
    <p>{{ treasure.material }}</p>
    {#    adding like button #}
    <button type="button" class="btn btn-danger glyphicon glyphicon-heart" data-id="{{ treasure.id }}">
        {% if treasure.likes > 0 %}{{ treasure.likes }}
        {% endif %}
    </button>

{% endblock %}